doctype
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel="stylesheet", href="./carnets/modelo_2/css/modelo_2.css")
    title
  body
    - var i = 0;
    each val in data
      table#tablaPrincipal
        tr#contenedorFilaPrincipal
          td(id="cara" class=`cara_${i}` style=`height: ${data[i].carnet.alto}cm; width: ${data[i].carnet.ancho}cm;`)
            table#logo
              tr 
                th
                  img#imgCarnetVacunacion(src='carnets/modelo_2/img/logo_carnet_de_vacunacion.png')
            table#areaInformacion
              tr
                td 
                  table.areaTexto
                    tr 
                      th
                        img#avatar(src='carnets/modelo_2/img/user-1-opt.png')
                      th
                        div NOMBRE
                        .informacion #{data[i].nombre}
                  table.areaTexto
                    tr
                      td
                        div FECHA DE NACIMIENTO 
                        .informacion #{data[i].fechaNacimiento}
                      td#areaTextoSexo
                        div SEXO
                        .informacion #{data[i].sexo}
                  table.areaTexto 
                    tr 
                      th DOCUMENTO DE IDENTIDAD
                        .informacion DNI: #{data[i].dni}
                      th NACIONALIDAD
                        .informacion #{data[i].nacionalidad}
                  table
                    tr
                      th VACUNA
                        .informacion #{data[i].tipoVacuna}
                td#areaQr
                  table
                    tr
                      th
                        // img#imgQr(src='carnets/modelo_2/img/qrprueba.png')
                        if data[i].vacunacion
                          - var qr = `data:image/png;base64,${data[i].qrB64}`;
                          img#imgQr(src=qr, alt="no QR")
                        else
                          div(id=`qrcode${i}`)
                          input(id=`inputHidde${i}` type='hidden' value=`${data[i].qrB64}`)
                          script(src="js/qrcode.min.js")
                          script.
                            document.addEventListener("DOMContentLoaded", function(event) { 
                              const data    = !{JSON.stringify(data)}
                              console.log(data)
                              var urlQr = document.getElementById("inputHidde#{i}").value;
                              // console.log('urlQr', urlQr);
                              var qrcode = {
                                text: urlQr,
                                width: 100, //144
                                height: 100, //144
                                colorDark : "#000000",
                                colorLight : "#ffffff",
                                correctLevel : QRCode.CorrectLevel.L // L M Q H
                              };
                              new QRCode(document.getElementById("qrcode#{i}"),qrcode);
                            })
          td#reverso(class=`reverso_${i}` style=`height: ${data[i].carnet.alto}cm; width: ${data[i].carnet.ancho}cm;`)
            table#banerReverso
              tr#areaTituloVacunas
                td
                  img#imgInjeccion(src='carnets/modelo_2/img/injeccion-opt.png')
                td 
                  #tituloVacunas VACUNA CONTRA COVID
            table#areaInformacion
              tr
                td#contenedorVacunas
                  table#vacunas
                    tr#encabezadoVacunas
                      th#fecha FECHA DE VACUNACIÓN
                      th#dosis DOSIS
                      th FABRICANTE Y LOTE DE VACUNA
                      th#lugar LUGAR DE VACUNACIÓN
                    - var j = 0;
                    each val in data[i].vacunas
                      tr
                        td.conBorde #{data[i].vacunas[j].fecha}
                        td.conBorde #{data[i].vacunas[j].dosis}
                        td.conBorde #{data[i].vacunas[j].vacuna}
                        td #{data[i].vacunas[j].departamento}
                      - j++
            img#imgEscudo(src='carnets/modelo_2/img/shield.png')
      - i++